[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
greenlet = "==0.4.16"
pymysql = "*"
flask = "*"
requests = "*"
gunicorn = "==20.0.4"
flask_login = "*"
flask_redis = "*"
flask_sqlalchemy = "*"
flask_migrate = "==2.6.0"
Flask-JWT-Extended = "==3.25.0"
marshmallow_sqlalchemy = "==0.23.1"
celery = {extras = ["redis"], version = "==4.3.0"}
redis = "==3.2.1"
openpyxl = "==3.0.1"
psycopg2 = "==2.8.6"
Flask-Script = "==2.0.6"
sentry-sdk = {extras = ["flask"], version = "==0.13.2"}

[requires]
python_full_version = "3.6"
