[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
gunicorn = "*"
flask_login = "*"
flask_redis = "*"
flask_sqlalchemy = "*"
flask_migrate = "*"
Flask-JWT-Extended = "*"
marshmallow_sqlalchemy = "*"
celery = {extras = ["redis"], version = "==4.3.0"}
redis = "==3.2.1"
openpyxl = "==3.0.1"
psycopg2 = "==2.8.6"
Flask-Script = "==2.0.6"

[requires]
python_full_version = "3.6"
